@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #33333a transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #33333a;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
